build/
install/
log/
yolov8n.pt
src/task2/.vscode/*
src/task2/task2/detect_faces/__pycache__/*
src/task2/task2/detect_rings/__pycache__/*
src/task2/task2/map_query/__pycache__/*
src/task2/task2/movement/__pycache__/*
src/task2/task2/movement/behaviours/__pycache__/*
src/task2/task2/speak/__pycache__/*
src/task2/task2/classify_face/__pycache__/*
src/task2/task2/__pycache__/*
.vscode/*
src/task2/.vscode/*
src/task2/reports/*

src/task2/task2/anomaly_detection/img/**
!src/task2/task2/anomaly_detection/img/.gitkeep
src/task2/task2/anomaly_detection/ssn/model/__pycache__/*
src/task2/task2/anomaly_detection/__pycache__/*
src/task2/task2/anomaly_detection/ssn/common/__pycache__/*
src/task2/task2/anomaly_detection/ssn/__pycache__/*
src/task2/task2/blue_line/__pycache__/*
src/task2/task2/movement/report/__pycache__/*
